*{
    margin: 0;
    padding: 0;
}
.navigation {
    margin: 25px;
    font-family: var(--font2);
    height: 74px;
    /* background-color: red; */

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left{
    font-size: 20px;
    display: flex;


}
.nav-left span{
    font-size: 35px;  
}
.nav-left ul {
    display: flex;
    align-items: center;
    margin: 0 77px ;
    font-size:22px;

}

.nav-left ul li {
    list-style: none;
    margin:0 14px;
    font-family: var(--font2);
    transition: all 1.3s ease-in-out ;
}
.nav-left ul li a:hover{
    color:lightcoral;
    /* background-color:lightcoral; */
    font-weight: bolder;
}
.nav-left ul li a{
    text-decoration: none;
    color:black;
}

.content-right{
    font-family: var(--font1) ;
    width:50%;
    display:flex;
    align-items: center;
    justify-content: center;

}
.content-right img{
    height: 355px;
    border: 2px solid black;
    border-radius:  0px 20px;



}
.content-left{
    width:50%;
    display:flex;
   flex-direction: column;
    justify-content: center;
    padding:50px;
    z-index: 1;
}

.content{
    height: 395px;
    /* background-color: rgb(255, 0, 225); */
    display: flex;
    margin-top: 12px;
    padding: 9px;
    position: relative;
 

}
.content::after {
    content: "";
    background-image: url('../img/11.svg');
    position: absolute;
    width: 700px ;
    height: inherit;
    opacity: 0.25;
    border-radius: 12px;



}
.home-articles{
    /* height: 455px; */
    background-color: rgb(221, 201, 201);
    padding-top:10px;
    padding-left: 10px;
    position: relative;

}
.year-box{
    position: absolute;

    right: 419px;
    top: 100px;
    width: 234px;
    height:255px;
    font-size: 18px;


}
.year-box div{
    margin:12px 0px;
   


}
.home-article{
    display: flex;
    padding:25px;
    
}
.home-article-img img{
    

    width:300px
    

  
}
.home-article-content{
    align-self: center;
    padding: 0px 25px;
    font-size: 15px;
}
.home-article-content a{
    text-decoration: none;
    color: black;
}

.footer{
    height: 50px;
    background-color:peru;
    
    display: flex;
    align-items: center;
    justify-content: center ;
    color:white;
    flex-direction: column;

}